<div id="Card_01">
    <div id="Card_011">
        <div id="Card_012">
            <div id="Card_013">
            
            </div> 
        </div>
    </div>
    <div id="Card_02">
        <img src="" alt="logo" id="tf_logo" />

        <form >
            <input #txtnomina 
                type="number" 
                id="txtNom" 
                placeholder="    Nomina" 
                required="required"
                
                />
            <div id="btnd"> </div>
            <button 
                type="button" 
                id="btnEntrar"
                (click)="buscar_Empleado()"
                > Entrar </button>
        </form>
</div> 

<!-- <form type="submit" id="formulario" (click)="buscar_Empleado($event)"></form> -->
<!-- routerLink="cuestionario" -->