<div class="card_00">
    <div class="card_01">
        <div class="card_011">
            <div class="card_0111">
                <img id="logo" src="../../../assets/TFM Logo.png" alt="">
                <div class="card_1111">
                    <h3 class="NC">CUESTIONARIO DE CLIMA LABORAL</h3>
                    <h4>Nómina</h4>
                </div>
                <div class="card_1112">
                    
                </div>
            </div>
            <div class="card_0112">
                <img id="ayuda" src="../../../assets/ayuda.png" alt="">
            </div>
        </div>
        <div class="card_012">
            <h3 class="titulo">1. FACTOR DE SATISFACCIÓN LABORAL</h3>
            <hr width="75%">
            <div class="pregunta">
                <div class="form-check form-switch form-check-reverse">
                    <input title="1" class="form-check-input" type="radio" name="exampleRadios" role="switch" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Exelente</label>
                </div>
                <div class="form-check form-switch form-check-reverse">
                    <input title="1" class="form-check-input" type="radio" name="exampleRadios" role="switch" id="exampleRadios2" value="option2" >
                    <label class="form-check-label" for="flexSwitchCheckDefault1">Bueno</label>
                </div>
                <div class="form-check form-switch form-check-reverse">
                    <input title="1" class="form-check-input" type="radio" name="exampleRadios" role="switch" id="exampleRadios3" value="option3" >
                    <label class="form-check-label" for="flexSwitchCheckDefault2">Regular</label>
                </div>
                <div class="form-check form-switch form-check-reverse">
                    <input title="1" class="form-check-input" type="radio" name="exampleRadios" role="switch" id="exampleRadios4" value="option4" >
                    <label class="form-check-label" for="flexSwitchCheckDefault3">Malo</label>
                </div>
            </div>
        </div>
    </div>
</div>